.register {
  background-color: #333;
  color: khaki;
  padding: 2rem 2rem 0 2rem;
  width: 40%;
  margin: 10rem auto 1rem auto;
  font-size: 1.3rem;
  text-align: center;
  &__link {
    background-color: #333;
    color: khaki;
    padding: 2rem;
    width: 40%;
    margin: auto;
    margin-top: -1rem;
    font-size: 1.3rem;
    text-align: center;
    &--link {
      text-decoration: none;
      color: #55b3b1;
      padding-left: 1rem;
    }
  }
  //Submit button
  &__submit {
    display: block;
    width: 100%;
    font-family: inherit;
    font-weight: 700;
    font-size: 2rem;
    padding: 0.8rem;
    background-color: #ef4f4ff3;
    color: #f4f4f4;
    border-radius: 3px;
    overflow: hidden;
    border: none;
    transition: all 0.3s;
    &:hover {
      background-color: #ef4f4f;
      transform: translateY(-0.3rem);
    }
  }
  h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 2rem;
    span {
      color: #ef4f4ff3;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 95%;
    margin: auto;
    label {
      position: relative;
      input {
        display: block;
        outline: none;
        border: none;
        font-family: inherit;
        background-color: khaki;
        border-radius: 4px;
        width: 100%;
        font-size: 1.6rem;
        padding: 0.5rem 1rem;
        margin-bottom: 2rem;
        padding-left: 3rem;
        font-weight: 600;
        &::placeholder {
          color: #333;
        }
      }
      i {
        position: absolute;
        font-size: 1.6rem;
        top: 1rem;
        left: 1rem;
        color: #333;
      }
    }
  }
}
