.accordion__section {
  display: flex;
  flex-direction: column;
}
.accordion {
  cursor: pointer;
  //   background-color: #e8eae6;
  background-color: #282828d8;
  font-family: inherit;
  border: none;
  outline: none;
}
.accordion__title--container {
  padding: 1rem 1.5rem;
  font-size: 2rem;
  font-family: inherit;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
}
.accordion__title {
  color: #008891;
  font-weight: 600;
  padding: 0.5rem 0.9rem;
  font-size: 2.2rem;
  text-align: left;
}
.accordion:hover,
.active {
  background-color: #ccc;
  .accordion__description {
    color: #333;
    font-weight: 600;
  }
  .accordion__title {
    color: #333;
  }
  .accordion__author {
    color: #000;
    font-weight: 600;
  }
  .accordion__icon {
    color: #333;
  }
}
.accordion__icon {
  margin-left: auto;
  color: #fff;
  padding-right: 1rem;
  padding-top: 3rem;
  transition: transform 0.6s ease;
}
.accordion__title--container {
  padding-left: auto;
  padding-right: 1rem;
  transition: transform 0.6s ease;
}
.rotate {
  transform: rotate(180deg) translate(1rem, -3rem);
}
.accordion__content {
  background-color: #333;
  color: #ade498;
  padding: 0 2rem;
  text-align: justify;
  overflow: auto;
  border: 1px solid white;
  border-top: none;
  //   border-bottom: none;
  transition: max-height 0.6s ease;
}
.accordion__text {
  font-family: inherit;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
}

.accordion__description {
  margin-top: -2.5rem;
  font-family: inherit;
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 7rem;
  text-align: justify;
  font-weight: 400;
  font-size: 1.6rem;
  color: white;
}
.buttons {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.blog-items__edit {
  i {
    padding-right: 0.5em;
  }
  font-size: 1.6rem;
  padding: 0.3rem 1rem;
  width: 10rem;
  font-family: inherit;
  font-weight: 600;
  background-color: #ffda77;
  outline: none;
  border: none;
  border-radius: 3px;
}
.blog-items__delete {
  i {
    padding-right: 0.5em;
  }
  background-color: #ec5858;
  outline: none;
  border: none;
  border-radius: 3px;
  margin-left: 2rem;
  font-size: 1.6rem;
  padding: 0.3rem 1rem;
  width: 10rem;
  font-family: inherit;
  font-weight: 600;
}
