.link {
  text-decoration: none;
  background-color: #03aa91;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  color: #fff;
  border-radius: 4px;
  &:hover {
    background-color: #00917c;
  }
  &__div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }
}
.search {
  &__form {
    width: 50%;
    margin-left: 9rem;
    &__label {
      position: relative;
      align-items: center;
      i {
        position: absolute;
        top: -0.7rem;
        left: 1rem;
        font-size: 2rem;
        color: #888888;
      }
    }
  }
  &__bar {
    width: 100%;
    font-size: 2rem;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    padding-left: 4rem;

    border-radius: 10rem;
  }
}
