.navbar {
  background-color: #282828d8;
  // box-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-start;
  h1 {
    font-weight: 500;
    font-size: 3rem;
    margin-left: 1rem;
    text-align: left;
    color: #fff;
    flex: 1;
    i {
      margin-right: 0.5rem;
    }
  }

  ul {
    margin-right: 1rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      margin-left: 2rem;
      transition: transform 0.3s;
      &:hover:not(:nth-child(3)) {
        transform: scale(1.2);
      }
    }
  }
  &__link {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
  }
}
